@import './essentials';

.server-list {
    top: 0; left: 0;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    width: 75px; height: 100%;
    background-color: $bg-tertiary;
    padding: 0; margin: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    .server-icon {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin-bottom: -18px;
        width: 75px; height: 75px;

        .icon {
            border-radius: 50%;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 48px; height: 48px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &.nologo {
                background-color: $bg-primary;
            }

            span {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                letter-spacing: -1px;
                font-weight: 500;
                line-height: 1.2em;
                white-space: nowrap;
            }
        }

        &:hover {
            .icon {
                border-radius: 30%;

                &.nologo {
                    background-color: $links;
                }
            }
        }
    }
}

.channel-list {
    top: 0; left: 75px;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    width: 240px; height: calc(100% - 10px);
    background-color: $bg-secondary;
    padding: 0; margin: 0;
    padding-top: 10px;

    &::-webkit-scrollbar {
        display: none;
    }

    .category {
        margin-bottom: 10px;

        .title {
            position: relative;
            height: 34px; width: 100%;
    
            .container {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 16px);
                height: 32px;
                border-radius: 4px;
                cursor: pointer;
    
                &:hover {
                    background-color: $bg-primary;
                }
    
                .c-icon {
                    position: absolute;
                    top: 0; left: 0;
                    height: 32px; width: 32px;
                    line-height: 2.2em;
                    text-align: center;
                }
    
                .c-name {
                    position: absolute;
                    top: 0; left: 32px;
                    height: 32px; width: 180px;
                    line-height: 2.1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .channel {
            position: relative;
            height: 34px; width: 100%;
    
            .container {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 16px);
                height: 32px;
                border-radius: 4px;
                cursor: pointer;
    
                &:hover {
                    background-color: $bg-primary;
                }
    
                .c-icon {
                    position: absolute;
                    top: 0; left: 10px;
                    height: 32px; width: 32px;
                    line-height: 2.2em;
                    text-align: center;
                }
    
                .c-name {
                    position: absolute;
                    top: 0; left: 42px;
                    height: 32px; width: 170px;
                    line-height: 2.1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        &.minimised .channel {
            display: none;
        }
    }
}